@import './fonts';
@import './reset';
@import './variables';

html,
body, 
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: $mainFont, 'Arial', sans-serif;
}

input, button {
  background: none;
  border: none;
  font-family: $mainFont, 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}
