@import './styles/variables';

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.2rem;
    justify-content: center;
    width: 100%;
    padding: 1.4rem;

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-weight: 900;
      text-transform: uppercase;
    }

    .group-action {
      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        background-color: $secondColor;
        border-radius: 4px;
        padding: 0.5rem 0.8rem;
        margin: 0 0.5em;
        color: #fff;
        font-weight: 600;

        &:first-child {
          background-color: $mainColor;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  } // header
} // app
