@import './styles/variables';

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.2rem;
    justify-content: center;
    width: 100%;
    padding: 1.4rem;

    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }

    .btn-debug {
      background-color: $secondColor;
      border-radius: 4px;
      padding: .5rem .8rem;
      color: #fff;
      font-weight: 600;

      &:hover {
        opacity: .8;
      }
    }
  } // header

} // app